.root{
    -fx-background-color: #FFF0F0;
}

#hboxTop {
    -fx-background-color: #800600;
    -fx-padding: 15,12,15,12;
    -fx-spacing:10;


    -fx-border-width: 0.5;
    -fx-border-radius: 3;
    -fx-border-color: black;
}


#hboxTop>#buttonCurrent{
    -fx-pref-width: 80;
    -fx-pref-height: 20;
}

#hboxTop>#buttonProjected{
    -fx-pref-width: 100;
    -fx-pref-height: 20;

}
#cost{

    -fx-padding: 12px;
    -fx-spacing:8px;
}
#hboxTop>#buttonCurrent, #hboxTop>#projected,
    #buttonSave, #buttonCancel{
    -fx-background-color: #FFF0F0;
    -fx-background-radius: 9px;
    -fx-border-radius:9px;

    -fx-effect: dropshadow(gaussian,#FFF0F0, 2,0,1,2);

}
#buttonSave, #buttonCancel
{
   -fx-background-color: #95322D;
   -fx-background-radius: 9px;
   -fx-border-radius:9px;
         -fx-text-fill:white;
   -fx-effect: dropshadow(gaussian,#95322D, 2,0,1,2);

}
#buttonSave:pressed, #buttonCancel:pressed{
    -fx-background-color:#800600;
    -fx-text-fill:white;

}

#hboxTop>#buttonCurrent:pressed, #hboxTop>#buttonProjected:pressed{
    -fx-background-color:#800600;
    -fx-text-fill:black;

}






#vboxLeft{

    -fx-background-color: linear-gradient(to bottom, #800600, #FFF0F0);
    -fx-padding: 12px;
    -fx-spacing:8px;
}


#Data{
    -fx-font-family:'Arial' ;
    -fx-font-weight: bold;
    -fx-font-size: 16px;

    -fx-dark-text-color: black ;
      -fx-mid-text-color: black ;
      -fx-light-text-color: black ;
}

#vboxLeft>#hijoOption{
    -fx-font-style: italic;
    -fx-font-size: 13px;
    -fx-padding: 5px;
    -fx-text-fill: black;
}

#vboxLeft>#hijoOption:hover{
    -fx-text-fill:#fdfeff;
    -fx-underline: false;
}


#stack{
    -fx-alignment: center-right;

}
#helpIcon{
     -fx-stroke:#D0E6FA;
     -fx-arc-height:3.5px;
     -fx-arc-width:3.5px;
     -fx-fill: linear-gradient(to bottom,  #800600, #FFF0F0);


}

#helpText{
    -fx-font-family:'Verdana';
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-stroke: #7080A0;
}



#gridMedio{
    -fx-hgap: 10px;
    -fx-vgap: 10px;

    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;

}

#category{
    -fx-font-family:'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#chartTitle{
    -fx-font-family:'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#chartSubtitle{
    -fx-font-family:'Arial';
    -fx-font-style: italic;
    -fx-font-size: 14px;


}



#imageChart{
-fx-padding: 200px;
    -fx-border-insets: 200px;
    -fx-background-insets: 200px;
}

#goodsPercent, #servicesPercent{
    -fx-font-family:'Helvetica';
    -fx-font-style: italic;
    -fx-font-size: 14px;
}

#flow{

    -fx-padding: 0,8,5,8;
    -fx-hgap: 8px;
    -fx-vgap: 4px;

    -fx-background-color: linear-gradient(to bottom, #800600, #FFF0F0);
}




#buttonSave{
    -fx-pref-width: 80;
    -fx-pref-height: 20;

}

#buttonCancel{
    -fx-pref-width: 80;
    -fx-pref-height: 20;

}

#HboxBottom{
    -fx-padding: 10,0,0,0;
    -fx-spacing: 10;
}